---
title: Nodarbinātības pārbaudes i9 pārbaude
description: Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065685"
---
# <a name="employment-verification-i9-verification"></a>Nodarbinātības pārbaudes i9 pārbaude

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu. Šajā procedūrā aprakstīts, kā pierakstīt nepieciešamos dokumentus I-9 pārbaudei. Šai procedūrai izmantojiet USMF uzņēmumu.

1. Iet uz **Cilvēku resursi \> Strādnieki \> Darbinieki**.
2. Izmantojiet līdzekli Ātrais filtrs, lai atrastu ierakstus. Piemēram, filtrējiet pēc vērtības **Vince** priekš **Vārds** lauks.
3. Atlasiet darbinieku. Piemēram, atlasiet **Vinss Prado**.
4. Izvēlieties **Personīgā informācija** FastTab.
5. Izvēlieties **Identifikācijas numuri**.
6. Atlasiet **Jauna**.
7. Atlasiet ierakstāmā identifikācijas veidu. Piemēram, atlasiet **Pase**.
8. Iekš **Numurs** laukā ievadiet vērtību.
9. Iekš **Primārs** laukā atlasiet **Jā**.
10. Iekš **Apraksts** laukā ievadiet īsu identifikācijas ieraksta aprakstu.
11. Iekš **Izdevēja aģentūra** laukā atlasiet aģentūru, kas izsniedza darbiniekam identifikācijas veidlapu. Piemēram, atlasiet **valdība**.
12. Ievadiet datumu, kad izdevēja iestāde izsniedza darbiniekam identifikācijas veidlapu. Piemēram, ievadiet **15.02.2011** (2011. gada 15. februāris).
13. Ievadiet datumu, kad beidzas identifikācijas formas derīguma termiņš. Piemēram, ievadiet **15.02.2021** (2021. gada 15. februāris).
14. Atlasiet **Saglabāt**.
15. Aizvērt lapu.
16. Izvēlieties **Nodarbinātība** cilne.
17. Izvēlieties **I-9**.
18. Atlasiet **Jauna**.
19. Iekš **Atbilstība darbam** laukā atlasiet opciju.

    Ja darbinieks nav Amerikas Savienoto Valstu pilsonis vai valstspiederīgais, jums jāievada darbinieka rezidenta ārvalstnieka vai uzņemšanas numurs.

20. Izvēlieties **GroupListA** opciju.

    Jūsu atlasītais saraksts ir atkarīgs no darbinieka norādītā identifikācijas veida. Darba ņēmējam ir jāiesniedz vai nu viens dokuments no saraksta A vai viens dokuments gan no saraksta B, gan saraksta C. Piemēram, ja darbinieks iesniedza pasi, varat atlasīt A sarakstu. Tomēr, ja darbinieks ir iesniedzis tikai autovadītāja apliecību un sociālo apdrošināšanu. karti, jums ir jāizvēlas saraksts B un saraksts C.

21. Iekš **I-9 dokumenta veids** laukā atlasiet darbinieka iesniegtā dokumenta veidu.
22. Iekš **Dokumenta numurs** laukā ievadiet vai atlasiet vērtību.
23. Atlasiet **Saglabāt**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
