---
title: Nodarbinātības pārbaudes i9 pārbaude
description: Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: lv-LV
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694216"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="e02da-103">Nodarbinātības pārbaudes i9 pārbaude</span><span class="sxs-lookup"><span data-stu-id="e02da-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="e02da-104">Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu.</span><span class="sxs-lookup"><span data-stu-id="e02da-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="e02da-105">Šajā procedūrā aprakstīts, kā pierakstīt nepieciešamos dokumentus I-9 pārbaudei.</span><span class="sxs-lookup"><span data-stu-id="e02da-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="e02da-106">Šai procedūrai izmantojiet USMF uzņēmumu.</span><span class="sxs-lookup"><span data-stu-id="e02da-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="e02da-107">Pārejiet uz sadaļu Personāla vadība > Darbinieki > Darbinieki.</span><span class="sxs-lookup"><span data-stu-id="e02da-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="e02da-108">Izmantojiet līdzekli Ātrais filtrs, lai atrastu ierakstus.</span><span class="sxs-lookup"><span data-stu-id="e02da-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="e02da-109">Piemēram, filtrējiet pēc lauka Nosaukums, izmantojot vērtību "Vinss".</span><span class="sxs-lookup"><span data-stu-id="e02da-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="e02da-110">Atlasiet darbinieku.</span><span class="sxs-lookup"><span data-stu-id="e02da-110">Select the employee.</span></span> <span data-ttu-id="e02da-111">Piemērs: Vinss Prado</span><span class="sxs-lookup"><span data-stu-id="e02da-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="e02da-112">Izvērsiet kopsavilkuma cilni Personiskā informācija.</span><span class="sxs-lookup"><span data-stu-id="e02da-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="e02da-113">Noklikšķiniet uz Identifikācijas numuri.</span><span class="sxs-lookup"><span data-stu-id="e02da-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="e02da-114">Klikšķiniet Jauns.</span><span class="sxs-lookup"><span data-stu-id="e02da-114">Click New.</span></span>
7. <span data-ttu-id="e02da-115">Atlasiet ierakstāmo identifikācijas tipu.</span><span class="sxs-lookup"><span data-stu-id="e02da-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="e02da-116">Piemērs: pase</span><span class="sxs-lookup"><span data-stu-id="e02da-116">Example: Passport</span></span>
8. <span data-ttu-id="e02da-117">Laukā Numurs ierakstiet kādu vērtību.</span><span class="sxs-lookup"><span data-stu-id="e02da-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="e02da-118">Laukā Primārais atlasiet vērtību Jā.</span><span class="sxs-lookup"><span data-stu-id="e02da-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="e02da-119">Laukā Apraksts ievadiet identifikācijas ieraksta īsu aprakstu.</span><span class="sxs-lookup"><span data-stu-id="e02da-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="e02da-120">Izdevējiestādē atlasiet iestādi, kas izsniedza darbiniekam šo identifikācijas formu.</span><span class="sxs-lookup"><span data-stu-id="e02da-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="e02da-121">Piemērs: valdība</span><span class="sxs-lookup"><span data-stu-id="e02da-121">Example: Government</span></span>
12. <span data-ttu-id="e02da-122">Ievadiet datumu, kad izdevējiestāde izsniedza darbiniekam šo identifikācijas formu.</span><span class="sxs-lookup"><span data-stu-id="e02da-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="e02da-123">Piemērs: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="e02da-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="e02da-124">Ievadiet datumu, kad beidzas identifikācijas formas derīguma termiņš.</span><span class="sxs-lookup"><span data-stu-id="e02da-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="e02da-125">Piemērs: 15.02.2021</span><span class="sxs-lookup"><span data-stu-id="e02da-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="e02da-126">Noklikšķiniet uz Saglabāt.</span><span class="sxs-lookup"><span data-stu-id="e02da-126">Click Save.</span></span>
15. <span data-ttu-id="e02da-127">Aizvērt lapu.</span><span class="sxs-lookup"><span data-stu-id="e02da-127">Close the page.</span></span>
16. <span data-ttu-id="e02da-128">Noklikšķiniet uz cilnes Nodarbinātība.</span><span class="sxs-lookup"><span data-stu-id="e02da-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="e02da-129">Noklikšķiniet uz I-9.</span><span class="sxs-lookup"><span data-stu-id="e02da-129">Click I-9.</span></span>
18. <span data-ttu-id="e02da-130">Noklikšķiniet uz Jauns.</span><span class="sxs-lookup"><span data-stu-id="e02da-130">Click New.</span></span>
19. <span data-ttu-id="e02da-131">Laukā Darba atbilstība atlasiet opciju.</span><span class="sxs-lookup"><span data-stu-id="e02da-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="e02da-132">Ja darbinieks nav Savienoto Valstu pavalstnieks vai pilsonis, jums ir jāievada darbinieka ārzemju pavalstnieka vai atļaujas numurs.</span><span class="sxs-lookup"><span data-stu-id="e02da-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="e02da-133">Atlasiet opciju GroupListA.</span><span class="sxs-lookup"><span data-stu-id="e02da-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="e02da-134">Saraksts, kuru atlasījāt, ir atkarīgs no darbinieka sniegtā identifikācijas tipa.</span><span class="sxs-lookup"><span data-stu-id="e02da-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="e02da-135">Darbiniekam ir jāsniedz viens saraksta A dokuments vai viens dokuments no saraksta B un C. Piemēram, ja darbinieks ir uzrādījis pasi, var atlasīt sarakstu A.</span><span class="sxs-lookup"><span data-stu-id="e02da-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="e02da-136">Tomēr, ja darbinieks ir uzrādījis tikai autovadītāja apliecību un sociālās nodrošināšanas karti, tad ir jāatlasa saraksts B un C.</span><span class="sxs-lookup"><span data-stu-id="e02da-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="e02da-137">Laukā I-9 dokumenta tips izvēlieties darbinieka iesniegtā dokumenta tipu.</span><span class="sxs-lookup"><span data-stu-id="e02da-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="e02da-138">Laukā Dokumenta numurs ievadiet vai atlasiet kādu vērtību.</span><span class="sxs-lookup"><span data-stu-id="e02da-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="e02da-139">Noklikšķiniet uz Saglabāt.</span><span class="sxs-lookup"><span data-stu-id="e02da-139">Click Save.</span></span>

