---
title: Nodarbinātības pārbaudes i9 pārbaude
description: Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: lv-LV
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964887"
---
# <a name="employment-verification-i9-verification"></a>Nodarbinātības pārbaudes i9 pārbaude

[!include [banner](../../../includes/banner.md)]

Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu. Šajā procedūrā aprakstīts, kā pierakstīt nepieciešamos dokumentus I-9 pārbaudei. Šai procedūrai izmantojiet USMF uzņēmumu.

1. Dodieties uz **personāla vadības \> darbinieku \> darbiniekiem**.
2. Izmantojiet līdzekli Ātrais filtrs, lai atrastu ierakstus. Piemēram, filtrējiet ar **Arce vērtību** lauka **nosaukumam**.
3. Atlasiet darbinieku. Piemēram, atlasiet **Sia** Sia.
4. Atlasiet kopsavilkuma **cilni Personiskā** informācija.
5. Atlasiet **identifikācijas** numurus.
6. Atlasiet **Jauna**.
7. Atlasiet identifikācijas tipu, ko ierakstāt. Piemēram, izvēlieties **Pase**.
8. Laukā **Numurs** ievadiet vērtību.
9. Laukā **Primārais** atlasiet **Jā**.
10. Laukā **Apraksts** ievadiet īsu identifikācijas ieraksta aprakstu.
11. Laukā **Izdevējiestāde** izvēlieties aģentūru, kas izsniedza darbinieka identifikācijas formu. Piemēram, atlasiet **Valdība**.
12. Ievadiet datumu, kad izdevējiestāde izsniedza darbinieka identifikācijas formu. Piemēram, ievadiet **02/15/2011** (2011. gada 15. februāris).
13. Ievadiet datumu, kad beidzas identifikācijas formas derīguma termiņš. Piemēram, ievadiet **2021. gada 2. februāri** (2021. gada 15. februāris).
14. Atlasiet **Saglabāt**.
15. Aizvērt lapu.
16. Atlasiet cilni **Nodarbinātība**.
17. Atlasiet **I-9.**
18. Atlasiet **Jauna**.
19. Laukā **Darba** tiesības atlasiet opciju.

    Ja darbinieks nav Savienoto Valstu pavalstnieks vai pilsonis, ir jāievada darbinieka ārzemju pavalstnieka vai pavalstnieka numurs.

20. Atlasiet **opciju GroupListA.**

    Atlasītais saraksts ir atkarīgs no darbinieka sniegtās identifikācijas formas. Darbiniekam jānorāda viens dokuments no A saraksta vai viens dokuments gan no B saraksta, gan no saraksta C. Piemēram, ja darbinieks sniedzis pases, varat atlasīt A sarakstu. Tomēr, ja darbinieks ir sniedzis tikai autovadītāja licenci un sociālās apdrošināšanas karti, ir jāatlasa saraksts B un Saraksts C.

21. **I-9 dokumenta tipa** laukā atlasiet dokumenta tipu, ko darbinieks ir sniedzis.
22. Laukā **Dokumenta** numurs ievadiet vai atlasiet vērtību.
23. Atlasiet **Saglabāt**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
