--- 
title: "Nodarbinātības pārbaude, izmantojot formu I-9"
description: "Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations, Talent
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 7e0a5d044133b917a3eb9386773205218e5c1b40
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: lv-lv
ms.lasthandoff: 09/29/2017

---
# <a name="employment-verification-using-form-i-9"></a>Nodarbinātības pārbaude, izmantojot formu I-9

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu. Šajā procedūrā aprakstīts, kā pierakstīt nepieciešamos dokumentus I-9 pārbaudei. Šai procedūrai izmantojiet USMF uzņēmumu.

1. Pārejiet uz sadaļu Personāla vadība > Darbinieki > Darbinieki.
2. Izmantojiet līdzekli Ātrais filtrs, lai atrastu ierakstus. Piemēram, filtrējiet pēc lauka Nosaukums, izmantojot vērtību "Vinss".
3. Atlasiet darbinieku. Piemērs: Vinss Prado
4. Izvērsiet kopsavilkuma cilni Personiskā informācija.
5. Noklikšķiniet uz Identifikācijas numuri.
6. Klikšķiniet Jauns.
7. Atlasiet ierakstāmo identifikācijas tipu. Piemērs: pase
8. Laukā Numurs ierakstiet kādu vērtību.
9. Laukā Primārais atlasiet vērtību Jā.
10. Laukā Apraksts ievadiet identifikācijas ieraksta īsu aprakstu.
11. Izdevējiestādē atlasiet iestādi, kas izsniedza darbiniekam šo identifikācijas formu. Piemērs: valdība
12. Ievadiet datumu, kad izdevējiestāde izsniedza darbiniekam šo identifikācijas formu. Piemērs: 15.02.2011
13. Ievadiet datumu, kad beidzas identifikācijas formas derīguma termiņš. Piemērs: 15.02.2021
14. Noklikšķiniet uz Saglabāt.
15. Aizvērt lapu.
16. Noklikšķiniet uz cilnes Nodarbinātība.
17. Noklikšķiniet uz I-9.
18. Noklikšķiniet uz Jauns.
19. Laukā Darba atbilstība atlasiet opciju.
    * Ja darbinieks nav Savienoto Valstu pavalstnieks vai pilsonis, jums ir jāievada darbinieka ārzemju pavalstnieka vai atļaujas numurs.  
20. Atlasiet opciju GroupListA.
    * Saraksts, kuru atlasījāt, ir atkarīgs no darbinieka sniegtā identifikācijas tipa. Darbiniekam ir jāsniedz viens saraksta A dokuments vai viens dokuments no saraksta B un C. Piemēram, ja darbinieks ir uzrādījis pasi, var atlasīt sarakstu A. Tomēr, ja darbinieks ir uzrādījis tikai autovadītāja apliecību un sociālās nodrošināšanas karti, tad ir jāatlasa saraksts B un C.  
21. Laukā I-9 dokumenta tips izvēlieties darbinieka iesniegtā dokumenta tipu.
22. Laukā Dokumenta numurs ievadiet vai atlasiet kādu vērtību.
23. Noklikšķiniet uz Saglabāt.


