--- 
title: "Nodarbinātības pārbaudes i9 pārbaude"
description: "Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu."
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 0312b8cfadd45f8e59225e9daba78b9e216cff51
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.contentlocale: lv-lv
ms.lasthandoff: 09/14/2018

---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="fbf81-103">Nodarbinātības pārbaudes i9 pārbaude</span><span class="sxs-lookup"><span data-stu-id="fbf81-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="fbf81-104">Saskaņā ar Imigrācijas reformu un kontroles aktu (Immigration Reform and Control Act — IRCA) darba devējiem ASV ir jāpārbauda katra jaunpieņemtā darbinieka piemērotības nodarbinātībai statusu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="fbf81-105">Šajā procedūrā aprakstīts, kā pierakstīt nepieciešamos dokumentus I-9 pārbaudei.</span><span class="sxs-lookup"><span data-stu-id="fbf81-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="fbf81-106">Šai procedūrai izmantojiet USMF uzņēmumu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="fbf81-107">Pārejiet uz sadaļu Personāla vadība > Darbinieki > Darbinieki.</span><span class="sxs-lookup"><span data-stu-id="fbf81-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="fbf81-108">Izmantojiet līdzekli Ātrais filtrs, lai atrastu ierakstus.</span><span class="sxs-lookup"><span data-stu-id="fbf81-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="fbf81-109">Piemēram, filtrējiet pēc lauka Nosaukums, izmantojot vērtību "Vinss".</span><span class="sxs-lookup"><span data-stu-id="fbf81-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="fbf81-110">Atlasiet darbinieku.</span><span class="sxs-lookup"><span data-stu-id="fbf81-110">Select the employee.</span></span> <span data-ttu-id="fbf81-111">Piemērs: Vinss Prado</span><span class="sxs-lookup"><span data-stu-id="fbf81-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="fbf81-112">Izvērsiet kopsavilkuma cilni Personiskā informācija.</span><span class="sxs-lookup"><span data-stu-id="fbf81-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="fbf81-113">Noklikšķiniet uz Identifikācijas numuri.</span><span class="sxs-lookup"><span data-stu-id="fbf81-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="fbf81-114">Klikšķiniet Jauns.</span><span class="sxs-lookup"><span data-stu-id="fbf81-114">Click New.</span></span>
7. <span data-ttu-id="fbf81-115">Atlasiet ierakstāmo identifikācijas tipu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="fbf81-116">Piemērs: pase</span><span class="sxs-lookup"><span data-stu-id="fbf81-116">Example: Passport</span></span>
8. <span data-ttu-id="fbf81-117">Laukā Numurs ierakstiet kādu vērtību.</span><span class="sxs-lookup"><span data-stu-id="fbf81-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="fbf81-118">Laukā Primārais atlasiet vērtību Jā.</span><span class="sxs-lookup"><span data-stu-id="fbf81-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="fbf81-119">Laukā Apraksts ievadiet identifikācijas ieraksta īsu aprakstu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="fbf81-120">Izdevējiestādē atlasiet iestādi, kas izsniedza darbiniekam šo identifikācijas formu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="fbf81-121">Piemērs: valdība</span><span class="sxs-lookup"><span data-stu-id="fbf81-121">Example: Government</span></span>
12. <span data-ttu-id="fbf81-122">Ievadiet datumu, kad izdevējiestāde izsniedza darbiniekam šo identifikācijas formu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="fbf81-123">Piemērs: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="fbf81-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="fbf81-124">Ievadiet datumu, kad beidzas identifikācijas formas derīguma termiņš.</span><span class="sxs-lookup"><span data-stu-id="fbf81-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="fbf81-125">Piemērs: 15.02.2021</span><span class="sxs-lookup"><span data-stu-id="fbf81-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="fbf81-126">Noklikšķiniet uz Saglabāt.</span><span class="sxs-lookup"><span data-stu-id="fbf81-126">Click Save.</span></span>
15. <span data-ttu-id="fbf81-127">Aizvērt lapu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-127">Close the page.</span></span>
16. <span data-ttu-id="fbf81-128">Noklikšķiniet uz cilnes Nodarbinātība.</span><span class="sxs-lookup"><span data-stu-id="fbf81-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="fbf81-129">Noklikšķiniet uz I-9.</span><span class="sxs-lookup"><span data-stu-id="fbf81-129">Click I-9.</span></span>
18. <span data-ttu-id="fbf81-130">Noklikšķiniet uz Jauns.</span><span class="sxs-lookup"><span data-stu-id="fbf81-130">Click New.</span></span>
19. <span data-ttu-id="fbf81-131">Laukā Darba atbilstība atlasiet opciju.</span><span class="sxs-lookup"><span data-stu-id="fbf81-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="fbf81-132">Ja darbinieks nav Savienoto Valstu pavalstnieks vai pilsonis, jums ir jāievada darbinieka ārzemju pavalstnieka vai atļaujas numurs.</span><span class="sxs-lookup"><span data-stu-id="fbf81-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="fbf81-133">Atlasiet opciju GroupListA.</span><span class="sxs-lookup"><span data-stu-id="fbf81-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="fbf81-134">Saraksts, kuru atlasījāt, ir atkarīgs no darbinieka sniegtā identifikācijas tipa.</span><span class="sxs-lookup"><span data-stu-id="fbf81-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="fbf81-135">Darbiniekam ir jāsniedz viens saraksta A dokuments vai viens dokuments no saraksta B un C. Piemēram, ja darbinieks ir uzrādījis pasi, var atlasīt sarakstu A.</span><span class="sxs-lookup"><span data-stu-id="fbf81-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="fbf81-136">Tomēr, ja darbinieks ir uzrādījis tikai autovadītāja apliecību un sociālās nodrošināšanas karti, tad ir jāatlasa saraksts B un C.</span><span class="sxs-lookup"><span data-stu-id="fbf81-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="fbf81-137">Laukā I-9 dokumenta tips izvēlieties darbinieka iesniegtā dokumenta tipu.</span><span class="sxs-lookup"><span data-stu-id="fbf81-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="fbf81-138">Laukā Dokumenta numurs ievadiet vai atlasiet kādu vērtību.</span><span class="sxs-lookup"><span data-stu-id="fbf81-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="fbf81-139">Noklikšķiniet uz Saglabāt.</span><span class="sxs-lookup"><span data-stu-id="fbf81-139">Click Save.</span></span>


